.tablepress-id-34 .column-2 {
	min-width: 150px;
}

.tablepress-id-41 .column-5 {
	max-width: 200px;
}

.tablepress-id-100 .column-1 {
	max-width: 350px;
}

.tablepress-id-100 .column-2 {
	min-width: 100px;
}

.tablepress-id-105 .column-1 {
	max-width: 200px;
}

.tablepress-id-143 .column-2 {
	min-width: 100px;
}

.tablepress-id-143 .column-3 {
	min-width: 100px;
}

.tablepress-id-143 .column-4 {
	min-width: 100px;
}

.tablepress-id-163 {
	text-align: right;
}

.tablepress-id-164 {
	text-align: right;
}

.tablepress-id-165 {
	text-align: right;
}

.tablepress-id-169 {
	text-align: right;
}

.tablepress-id-168 {
	text-align: right;
}

.tablepress-id-170 {
	text-align: right;
}

.tablepress-id-171 {
	text-align: right;
}